!!!
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
  %body
    .container
      = render 'layouts/header'
      .section.round.shadowinvert
        = yield
      = render 'layouts/footer'

